@model IEnumerable<WestgateHomeVideoManager.Models.Clip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClipTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClipTimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClipVidTimeStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClipVidTimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClipVidTimeLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClipReviewer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CameraOperator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chapter.ChapterLength)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClipNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClipTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClipTimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClipVidTimeStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClipVidTimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClipVidTimeLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClipReviewer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CameraOperator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chapter.ChapterLength)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClipID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClipID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClipID })
        </td>
    </tr>
}

</table>
