@page
@model WHVM_Razor.Pages.Browser.Chapter.IndexModel

@{
    ViewData["Title"] = "Chapters";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].ChapterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].ChapterLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter[0].Source)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Chapter) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source.SourceId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ChapterId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ChapterId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ChapterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
