@using System.Globalization
@using Castle.Core.Internal
@using WHVM.Web.Helpers
@model IEnumerable<Source>

@{
    Layout = "Layouts/_Layout_Sidebar";
    ViewData["SidebarTitle"] = ViewContext.RouteData.Values["controller"];
    ViewData["JplistDataGroup"] = "sources";
    ViewData["JplistSortDataPath"] = ".sourceID";
    ViewData["JplistSortDataOrder"] = "asc";
    ViewData["JplistSortDataType"] = "number";

    var maxClipCount = Model.Max(x => x.Clips.Count());
}

@section SidebarContent{
    <h2 class="uk-heading-line uk-text-center"><span>@ViewData["SidebarTitle"]</span></h2>
    <div>
        <div uk-grid class="uk-grid-collapse uk-child-width-1-1">
            <div class="uk-flex uk-flex-nowrap uk-flex-wrap-stretch uk-child-width-1-5 js-fafi-toggle-group" data-fantafilter-group="sourcesGroup" data-fantafilter-comparer="value" data-fantafilter-operator="===" data-fantafilter-selector="source-format-id">
                <button class="uk-button uk-button-default uk-padding-remove-horizontal uk-width-expand" value="">All</button>
                @foreach (var sourceFormat in (List<SourceFormat>)ViewData["AllSourceFormats"])
                {
                    <button class="uk-button uk-button-default uk-padding-remove-horizontal uk-width-expand uk-text-truncate" value="@(sourceFormat.SourceFormatId)">@(sourceFormat.SourceFormatName)</button>
                }
            </div>

            <form class="uk-inline uk-search uk-search-default uk-margin-top">
                <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: close" onclick="$('#filter-source-name-search').val('')"></a>
                <input class="uk-search-input" type="search" id="filter-source-name-search" data-filter-name="data-source-name" data-filter-group="filter-source-grid" placeholder="Search...">
            </form>

            <form class="uk-inline uk-search uk-search-default uk-margin-top uk-form-stacked">
                <div>
                    <label class="uk-form-label" for="filter-source-date-start">Start Date</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="date" id="filter-source-date-start" data-filter-name="data-source-dates" data-filter-group="filter-source-grid" data-filter-operator=">=" placeholder="Start date...">
                    </div>
                </div>
            </form>

            <form class="uk-inline uk-search uk-search-default uk-margin-top uk-form-stacked">
                <div>
                    <label class="uk-form-label" for="filter-source-date-end">End Date</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="date" id="filter-source-date-end" data-filter-name="data-source-dates" data-filter-group="filter-source-grid" data-filter-operator="<=" placeholder="End date...">
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@section Body{
    @*<div data-jplist-group="sources" style="overflow: auto">*@
    <div class="uk-grid uk-width-expand uk-padding-small uk-grid-small uk-child-width-1-1 js-fafi-parent" id="filter-source-grid" uk-grid data-fantafilter-group="sourcesGroup">
        @foreach (var item in Model)
        {
            int itemClipCount = item.Clips.Count();
            string[] sourceDates = new string[2] {
                item.SourceDateStart?.ToString("s"),
                item.SourceDateEnd?.ToString("s")
            };
            sourceDates = sourceDates.Where(date => !date.IsNullOrEmpty()).ToArray();
            <div class="uk-card uk-card-small uk-card-hover uk-card-default js-fafi-item"
                 data-fantafilter-source-name="@(item.SourceName)"
                 data-fantafilter-source-id="@(item.SourceId)"
                 data-fantafilter-source-dates="@(string.Join(';', sourceDates))"
                 data-fantafilter-source-format-id="@(item.SourceFormat.SourceFormatId)"
                 data-fantafilter-source-clip-count="@itemClipCount">
                @*<div class="uk-card-media-left">
                        <img src="~/images/@(item.SourceFormat.SourceFormatName)_logo.svg" uk-cover alt="@(item.SourceFormat.SourceFormatName)">
                        <canvas width="100" height="100"></canvas>
                    </div>*@
                <div class="uk-card-body">
                    <h3 class="uk-card-title">
                        @(Html.DisplayFor(modelItem => item.SourceName)) <span class="uk-label">@itemClipCount clips</span>
                    </h3>
                    <div class="uk-column-1-2@xs uk-column-1-3@s uk-column-1-4@m uk-column-1-5@l uk-column-1-6@xl">
                        <dl>
                            <dt>Format</dt>
                            <dd>@(item.SourceFormat.SourceFormatName)</dd>
                        </dl>
                        <dl>
                            <dt>Start Date</dt>
                            <dd>@(item.SourceDateStart.HasValue ? item.SourceDateStart.ToString() : "No start date!")</dd>
                        </dl>
                        <dl>
                            <dt>End Date</dt>
                            <dd>@(item.SourceDateEnd.HasValue ? item.SourceDateEnd.ToString() : "No end date!")</dd>
                        </dl>
                        <dl>
                            <dt>Date Created</dt>
                            <dd>@(item.SourceDateCreated.HasValue ? item.SourceDateCreated.ToString() : "No date created!")</dd>
                        </dl>
                        <dl>
                            <dt>Date Imported</dt>
                            <dd>@(item.SourceDateImported.HasValue ? item.SourceDateImported.ToString() : "No date imported!")</dd>
                        </dl>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts
{
    <script type="text/javascript" defer>
        window.onload = () => {
            const fantaFilterCurrent = fantaFilter.init();
        };
    </script>
    <script type="text/javascript" src="~/js/View_Sources_Index.js" defer></script>
}
