@model WHVM_MVC.Models.Source

@{
    Layout = "_ModelLayout";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceDateBurned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceDateBurned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceDateRipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceDateRipped)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SourceId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
