@model WHVM_MVC.Models.Source

@{
    Layout = "_ModelLayout";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceLabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceLabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceDateBurned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceDateBurned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceDateRipped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceDateRipped)
        </dd>
    </dl>
    
    <h1><b>Are you <i>sure</i> that you want to delete @(Model.SourceLabel)?</b></h1>
    <p class="lead">This cannot be reversed.</p>
    
    <form asp-action="Delete">
        
        <input type="hidden" asp-for="SourceId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </form>

    @section ActionButtons
    {
        <button onclick="goBack()" class="btn btn-secondary" title="Cancel" data-toggle="tooltip"><i class="fas fa-times"></i></button>
    }
</div>
