@model IEnumerable<WHVM_MVC.Models.Source>

@{
    ViewData["Title"] = "Index";
    List<SourceFormat> SourceFormats = ViewBag.SourceFormats;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dtSources" class="table table-striped table-sm" width="100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Label</th>
            <th scope="col">Format</th>
            <th scope="col">Date Burned</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            SourceFormat currentSourceFormat = SourceFormats.First(c => c.SourceFormatId == item.SourceFormatId);

            <tr>
                <td>@(item.SourceId)</td>
                <td>@(item.SourceLabel)</td>
                <td>
                    <div class="d-inline-flex align-middle">
                        <img src="images/@(currentSourceFormat.SourceFormatText)_logo.svg" data-toggle="tooltip" class="img-fluid" style="max-height: 1rem; max-width: fit-content" title="@(currentSourceFormat.SourceFormatText)" alt="@(currentSourceFormat.SourceFormatText)"/>
                    </div>
                </td>
                <td data-order="@(item.SourceDateBurned)"><div data-toggle="tooltip" title="@(((DateTime)(item.SourceDateBurned)).ToString("F"))">@(((DateTime)(item.SourceDateBurned)).ToString("d"))</div></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#dtSources').DataTable();
        });
        $('body').tooltip({ selector: '[data-toggle="tooltip"]' });
    </script>
}