@using Microsoft.AspNetCore.Routing
@model IEnumerable<WHVM_MVC.Models.Source>

@{
    Layout = "_Layout";
}

<style>
    .modal:nth-of-type(even) {
        z-index: 1052 !important;
    }
    .modal-backdrop:nth-of-type(odd) {
        z-index: 1051 !important;
    }
</style>

<div class="modal fade" id="sourcesModal" tabindex="-1" role="dialog" aria-labelledby="sourcesModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 whvm-sidebar d-flex flex-column">
        <h2 class="py-3">Sources</h2>
        <!-- hidden sort control -->
        <div style="display: none"
             data-jplist-control="hidden-sort"
             data-group="group1"
             data-path=".sourceID"
             data-order="asc"
             data-type="number"></div>

        <!-- text filter control -->
        <div class="input-group input-group-sm py-1">
            <input class="form-control form-control-sm"
                   data-jplist-control="textbox-filter"
                   data-group="group1"
                   data-name="sourceName-text-filter"
                   data-path=".sourceName"
                   type="text"
                   value=""
                   id="textFilterInput"
                   data-clear-btn-id="name-clear-btn"
                   placeholder="Filter by Name" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="name-clear-btn">Clear</button>
            </div>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
        @foreach (var format in SourceFormat.AllFormats)
        {
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="option1" autocomplete="off" checked>
            </label>
        }
        </div>

            <!-- format filter control -->
            <div class="input-group input-group-sm py-1">
                <div class="input-group-prepend">
                    <span class="input-group-text">Format(s):</span>
                </div>
                <div class="input-group-append">
                    @foreach (var format in SourceFormat.AllFormats)
                    {
                        <div class="input-group-text">
                            <label class="mb-0">
                                <input data-jplist-control="checkbox-text-filter"
                                       data-group="group1"
                                       data-name="sourceFormat-tag-filter"
                                       data-path=".sourceFormat"
                                       type="checkbox"
                                       value="@format.SourceFormatText"
                                       id="sourceFormatFilter@(format.SourceFormatText)"/>
                                @format.SourceFormatText
                            </label>
                        </div>
                    }
                </div>
            </div>

            <!-- page navigation -->
            <div class="mt-auto py-3">
                <div class="pagination justify-content-center" aria-label="Page navigation"
                     data-jplist-control="pagination"
                     data-group="group1"
                     data-items-per-page="8"
                     data-current-page="0"
                     data-disabled-class="disabled"
                     data-selected-class="active"
                     data-name="pagination1">

                    <!-- items per page dropdown -->
                    <div class="dropup d-inline-flex col-12 pb-3 px-0"
                         data-type="items-per-page-dd"
                         data-opened-class="show">

                        <button data-type="panel"
                                class="btn btn-sm btn-primary dropdown-toggle"
                                type="button">
                            Dropdown button
                        </button>

                        <div data-type="content"
                             class="dropdown-menu"
                             aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item" href="#" data-value="8">8 per page</a>
                            <a class="dropdown-item" href="#" data-value="25">25 per page</a>
                            <a class="dropdown-item" href="#" data-value="50">50 per page</a>
                            <a class="dropdown-item" href="#" data-value="0">View All</a>

                        </div>
                    </div>
                </div>
                <div class="pagination justify-content-center" aria-label="Page navigation"
                     data-jplist-control="pagination"
                     data-group="group1"
                     data-items-per-page="8"
                     data-current-page="0"
                     data-disabled-class="disabled"
                     data-selected-class="active"
                     data-name="pagination1">

                    <!-- page selector buttons -->
                    <div class="btn-group col-12 px-0" role="group">
                        <button type="button" class="btn btn-sm btn-outline-primary" data-type="first"><i class="fas fa-angle-double-left"></i></button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-type="prev"><i class="fas fa-angle-left"></i></button>

                        <div class="btn-group" role="group" data-type="pages">
                            <button type="button" class="btn btn-sm btn-outline-primary " data-type="page">{pageNumber}</button>
                        </div>

                        <button type="button" class="btn btn-sm btn-outline-primary" data-type="next"><i class="fas fa-angle-right"></i></button>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-type="last"><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <main class="col-12 col-md-9 col-xl-10 py-3 px-md-5 whvm-content" role="main">
            <div data-jplist-group="group1" style="overflow: auto ">
                @foreach (var item in Model)
                {
                    <div class="card mb-3" data-jplist-item>
                        <div class="row no-gutters">
                            <div class="col-md-4 col-lg-2">
                                @*<img src="..." class="card-img" alt="...">*@
                            </div>
                            <div class="col-md-8 col-lg-10">
                                <div class="card-body">
                                    <h3 class="card-title ">
                                        <a href="#"
                                           class="sourceName text-truncate"
                                           id="sourcesModalBtn"
                                           data-target="#sourcesModal"
                                           data-toggle="modal"
                                           onclick="SetDetailViewID('@Url.Action("ModalBtnActionResult", ViewContext.RouteData.Values["controller"].ToString(), new RouteValueDictionary {{"id", @item.SourceId}})')">
                                            @(Html.DisplayFor(modelItem => item.SourceLabel))
                                        </a>
                                    </h3>
                                    <p class="card-text">
                                        <span class="badge badge-secondary align-self-center mr-1 sourceFormat">@(item.SourceFormat.SourceFormatText)</span>
                                        <span class="card-text sourceID" style="display:none">@(Html.DisplayFor(modelItem => item.SourceId))</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </main>
    </div>

@section Scripts
{
    <script>
        jplist.init();
    </script>

    <script type="text/javascript" src="~/js/ModelIndexModals.js"></script>
}