@model IEnumerable<WestgateHomeVideoManager.Models.Source>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SourceLabel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceDateBurned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceDateRipped)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SourceLabel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceDateBurned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceDateRipped)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SourceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SourceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SourceID })
        </td>
    </tr>
}

</table>
