@model WHVM_MVC.Models.Clip

@{
    Layout = "Layouts/_Layout_Sidebar_Details";
    ViewData["Title"] = ViewContext.RouteData.Values["controller"];
    ViewData["Subtitle"] = ViewContext.RouteData.Values["action"];
}

@section SidebarContent{
    <div>
        <a asp-action="Edit" asp-controller="Clips" asp-route-id="@Model.ClipId" class="btn btn-secondary px-1" id="clip-edit-btn">
            Edit
        </a>
    </div>
}

@section Body{
    <div>
        <h1>@Html.DisplayFor(model => model.ClipDescription)</h1>
        <p class="lead">@ViewData["Subtitle"]</p>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipTimeStart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipTimeStart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipTimeEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipTimeEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipVidTimeStart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipVidTimeStart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipVidTimeEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipVidTimeEnd)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipVidTimeLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipVidTimeLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipReviewer.PeopleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipReviewer.PeopleName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipCameraOperator.PeopleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipCameraOperator.PeopleName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClipFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClipFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Source)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Source.SourceId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ClipId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}