@model WHVM.Database.Models.Clip

@{
    Layout = "Layouts/_Layout_Sidebar_Details";
    ViewData["SidebarTitle"] = Html.Raw("<a asp-action=\"Details\" asp-controller=\"Sources\" asp-route-id=\"" + Model.SourceId + "\" id=\"source-details\">" + Model.Source.SourceName + "</a>");
    ViewData["BodyTitle"] = Model.ClipName;
    ViewData["Title"] = ViewContext.RouteData.Values["controller"];
    ViewData["Subtitle"] = ViewContext.RouteData.Values["action"];
}

@section SidebarContent{

}

@section SidebarTitle{
    <a asp-action="Details" asp-controller="Sources" asp-route-id="@Model.SourceId" id="source-details">@Model.Source.SourceName</a>
}
@section Body{

    <div>
        <div class="d-flex flex-wrap flex-md-nowrap align-items-start flex-row pb-1">
            <div class="order-12 order-md-0">
                <h1>@ViewData["BodyTitle"]</h1>
                <span class="lead">@ViewData["Subtitle"]</span>
            </div>
            <div class="mx-auto d-md-none order-0"></div>
            <button class="btn btn-secondary m-1 ml-md-auto" id="clip-back-btn" onclick="window.history.back()">
                <div class="d-flex justify-content-center">
                    <i class="mi mi-Back"></i>
                </div>
            </button>
            <a asp-action="Edit" asp-controller="Clips" asp-route-id="@Model.ClipId" class="btn btn-warning m-1" id="clip-edit-btn">
                <div class="d-flex justify-content-center">
                    <i class="mi mi-Edit"></i>
                </div>
            </a>
            <a asp-action="Delete" asp-controller="Clips" asp-route-id="@Model.ClipId" class="btn btn-danger m-1" id="clip-delete-btn">
                <div class="d-flex justify-content-center">
                    <i class="mi mi-Delete"></i>
                </div>
            </a>

        </div>
        <hr />
        <dl class="row">
            <dt class="col-lg-2">
                Clips Number
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipNumber)
            </dd>
            <dt class="col-lg-2">
                Date/Time Start
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipTimeStart)
            </dd>
            <dt class="col-lg-2">
                Date/Time Start
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipTimeEnd)
            </dd>
            <dt class="col-lg-2">
                Start Timestamp
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipVidTimeStart)
            </dd>
            <dt class="col-lg-2">
                End Timestamp
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipVidTimeEnd)
            </dd>
            <dt class="col-lg-2">
                Length
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipVidTimeLength)
            </dd>
            <dt class="col-lg-2">
                Clips Reviewer
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipReviewer.PersonName)
            </dd>
            <dt class="col-lg-2">
                Camera Operator
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipCameraOperator.PersonName)
            </dd>
            <dt class="col-lg-2">
                Description
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipName)
            </dd>
            <dt class="col-lg-2">
                File Path
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.ClipFilePath)
            </dd>
            <dt class="col-lg-2">
                Sources
            </dt>
            <dd class="col-lg-10">
                @Html.DisplayFor(model => model.Source.SourceName)
            </dd>
        </dl>
    </div>
}
