@model IEnumerable<WHVM_MVC.Models.Clip>

@{
    Layout = "Layouts/_Layout_Sidebar_Index";
    ViewData["Title"] = "Clips";
    ViewData["JplistDataGroup"] = "clips";
    ViewData["JplistSortDataPath"] = ".clipID";
    ViewData["JplistSortDataOrder"] = "asc";
    ViewData["JplistSortDataType"] = "number";
}

@section SidebarContent{
    <div>
        <!--#region Filter - Text - ClipName - Clip-->
        <div class="input-group input-group-sm py-1 py-lg-2">
            <input class="form-control form-control-sm"
                   data-jplist-control="textbox-filter"
                   data-group="@ViewData["JplistDataGroup"]"
                   data-name="clipName-text-filter"
                   data-path=".clipName"
                   data-id="name"
                   type="text"
                   value=""
                   id="textFilterInput"
                   data-clear-btn-id="name-clear-btn"
                   placeholder="Filter by Name" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="name-clear-btn">Clear</button>
            </div>
        </div>
        <!--#endregion-->
        <!--#region Filter - Date - ClipDateMinimum - Clip-->
        <div class='input-group input-group-sm py-1 py-lg-2' id="datetimepickerMin">
            <div class="input-group-prepend">
                <span class="input-group-text">Start Date</span>
            </div>
            <input class="form-control form-control-sm"
                   data-jplist-control="textbox-filter"
                   data-group="@ViewData["JplistDataGroup"]"
                   data-name="clipDate-text-filter"
                   data-path=".clipDate"
                   data-id="min-date"
                   type="date"
                   value=""
                   id="datetimepickerMinText"
                   data-mode="dateLower" />
        </div>
        <!--#endregion-->
        <!--#region Filter - Date - ClipDateMaximum - Clip-->
        <div class='input-group input-group-sm py-1 py-lg-2' id="datetimepickerMax">
            <div class="input-group-prepend">
                <span class="input-group-text">End Date</span>
            </div>
            <input class="form-control form-control-sm"
                   data-jplist-control="textbox-filter"
                   data-group="@ViewData["JplistDataGroup"]"
                   data-name="clipDate-text-filter"
                   data-path=".clipDate"
                   data-id="max-date"
                   type="date"
                   value=""
                   id="datetimepickerMaxText"
                   data-mode="dateUpper" />

            <div id="datetimepickerError" class="invalid-feedback">Start date must come after end date.</div>
        </div>
        <!--#endregion-->
        <!--#region Accordion - Filters - Clip-->
        <div class="accordion py-1 py-lg-2" id="FilterAccordion">
            <!--#region Filter - Checkboxes - ClipTagsPeople - Clip-->
            <div class="card" id="clipsPeopleFilter">
                <div class="card-header" id="headingOne">
                    <div class="d-flex align-items-center px-2">
                        <button class="btn btn-link collapsed pl-0 pr-1" data-toggle="collapse" data-target="#collapsePeople" aria-expanded="false" aria-controls="collapsePeople">
                            <div class="d-flex">
                                <i class="mi mi-ChevronRight"></i>
                                <div class="mx-1">People</div>
                            </div>
                        </button>
                        <div class="mr-auto">
                            <span class="p-1 badge badge-primary d-none"></span>
                        </div>
                        <a href="#" class="btn btn-sm btn-link disabled p-0" role="button" id="clipsPeopleFilterClear">
                            <i class="mi mi-Clear"></i>
                        </a>
                    </div>

                </div>
                <div id="collapsePeople" class="collapse" aria-labelledby="headingPeople" data-parent="#FilterAccordion">
                    <div class="card-body">
                        <ul style="list-style-type: none; margin: 0; margin-left: 1rem; padding: 0">
                            @{
                                foreach (TagsPeople person in TagsPeople.AllPeople)
                                {
                                    <li>
                                        <label>
                                            <input type="checkbox"
                                                   data-jplist-control="checkbox-path-filter"
                                                   data-path=".tag-person-@(person.PeopleId)"
                                                   data-group="@ViewData["JplistDataGroup"]"
                                                   data-clear-btn-id="clipsPeopleFilterClear"
                                                   name="checkbox-person-@(person.PeopleId)"
                                                   id="tag-person-@(person.PeopleId)-cb" />
                                            @(person.PeopleName)
                                        </label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <!--#region Filter - Checkboxes - ClipTagsCollections - Clip-->
            <div class="card" id="clipsCollectionsFilter">
                <div class="card-header" id="headingTwo">
                    <div class="d-flex align-items-center  px-2">
                        <button class="btn btn-link collapsed pl-0 pr-1" data-toggle="collapse" data-target="#collapseCollections" aria-expanded="false" aria-controls="collapseCollections">
                            <div class="d-flex">
                                <i class="mi mi-ChevronRight"></i>
                                <div class="ml-1">Collections</div>
                            </div>
                        </button>
                        <div class="mr-auto">
                            <span class="p-1 badge badge-primary d-none"></span>
                        </div>
                        <a href="#" class="btn btn-sm btn-link disabled p-0" role="button" id="clipsCollectionsFilterClear">
                            <i class="mi mi-Clear"></i>
                        </a>
                    </div>
                </div>
                <div id="collapseCollections" class="collapse" aria-labelledby="headingCollections" data-parent="#FilterAccordion">
                    <div class="card-body">
                        <ul style="list-style-type: none; margin: 0; margin-left: 1rem; padding: 0">
                            @{
                                foreach (TagsCollections collection in TagsCollections.AllCollections)
                                {
                                    <li>
                                        <label>
                                            <input type="checkbox"
                                                   data-jplist-control="checkbox-path-filter"
                                                   data-path=".tag-collection-@(collection.CollectionsId)"
                                                   data-group="@ViewData["JplistDataGroup"]"
                                                   data-clear-btn-id="clipsCollectionsFilterClear"
                                                   name="checkbox-collection-@(collection.CollectionsId)"
                                                   id="tag-collection-@(collection.CollectionsId)-cb" />
                                            @(collection.CollectionsText)
                                        </label>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!--#endregion-->
        </div>
        <!--#endregion-->

    </div>
}

@section Body{
    <div data-jplist-group="clips" style="overflow: auto ">
        @foreach (var item in Model)
        {

            <div class="card" data-jplist-item>
                <span class="clipDate" style="display:none">@(Html.DisplayFor(modelItem => item.ClipTimeStart))</span>
                <span class="clipDate" style="display:none">@(Html.DisplayFor(modelItem => item.ClipTimeEnd))</span>
                <a asp-action="Details" asp-controller="Clips" asp-route-id="@item.ClipId" style="text-decoration:none">
                    <div class="row no-gutters">
                        <div class="col-3 col-lg-2 col-xl-1">
                            @*<img src="~/images/@(item.SourceFormat.SourceFormatText)_logo.svg" class="img-fluid p-2 p-md-3" alt="@(item.SourceFormat.SourceFormatText)">*@
                        </div>
                        <div class="col-9 col-lg-10 col-xl-11">
                            <div class="card-body pl-0 pr-2 py-2 pl-md-0 pr-md-3 py-md-3">

                                <h3 class=" stretched-link card-title text-truncate clipName">
                                    @(Html.DisplayFor(modelItem => item.ClipDescription))
                                </h3>
                                <p class="card-text">
                                    <span class="badge badge-pink align-self-center mr-1 ">Clip ID: @(item.ClipId)</span>
                                    <span class="badge badge-cyan align-self-center mr-1 ">Source: @(item.Source.SourceLabel)</span>

                                    @{
                                        if (item.SourceSegment != null)
                                        {
                                            <span class="badge badge-teal align-self-center mr-1 ">Source Segment: @(item.SourceSegment)</span>
                                        }
                                    }

                                    @{
                                        if (item.ClipReviewer?.PeopleName != null)
                                        {
                                            <span class="badge badge-secondary align-self-center mr-1 tag-person-@(item.ClipReviewer.PeopleId)">Clip Reviewer: @(item.ClipReviewer.PeopleName)</span>
                                        }
                                    }

                                    @{
                                        if (item.ClipCameraOperator?.PeopleName != null)
                                        {
                                            <span class="badge badge-secondary align-self-center mr-1 tag-person-@(item.ClipCameraOperator.PeopleId)">Camera Operator: @(item.ClipCameraOperator.PeopleName)</span>
                                        }
                                    }

                                    <br />People:
                                    @{
                                        if (item.ClipTagsPeople.Count > 0)
                                        {
                                            foreach (var clipTagsPeople in item.ClipTagsPeople)
                                            {
                                                <span class="badge badge-secondary align-self-center mr-1 tag-person-@(clipTagsPeople.Person.PeopleId)"> @(clipTagsPeople.Person.PeopleName)</span>
                                            }
                                        }
                                    }

                                    <br />Collections:
                                    @{
                                        if (item.ClipTagsCollections.Count > 0)
                                        {
                                            foreach (var clipTagsCollections in item.ClipTagsCollections)
                                            {
                                                <span class="badge badge-secondary align-self-center mr-1 tag-collection-@(clipTagsCollections.Collection.CollectionsId)"> @(clipTagsCollections.Collection.CollectionsText)</span>
                                            }
                                        }
                                    }

                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>
}

@section Scripts
{
    <script src="js/View_Clips_Index.js"></script>
}
