<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewContext.RouteData.Values["controller"].ToString() + " - " + ViewContext.RouteData.Values["action"].ToString() + " | " + Startup.Configuration.GetSection("SiteVariables:SiteName").Value)</title>

    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/jplist-es6/css/jplist.styles.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" type="text/css" href="~/lib/jplist-es6/css/jplist.styles.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"
              asp-fallback-href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
              asp-fallback-href="~/lib/font-awesome/css/all.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/whvm.css" />
</head>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery;
@{
    var antiforgeryRequestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<body>
    <header class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row whvm-navbar">
                <a class="navbar-brand d-inline-block text-truncate" asp-area="" asp-controller="Home" asp-action="Index">@(Startup.Configuration.GetSection("SiteVariables:SiteName").Value)</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Sources" asp-action="Index">Sources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Clips" asp-action="Index">Clips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
    </header>
    <div class="container-fluid">
        <partial name="_CookieConsentPartial" />
            @RenderBody()
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - @(Startup.Configuration.GetSection("SiteVariables:SiteName").Value) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="~/lib/jplist-es6/js/jplist.min.js"></script>
        <script type="text/javascript" src="~/lib/moment.js/moment.js"></script>
        <script type="text/javascript" src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"
                    asp-fallback-src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
                    asp-fallback-src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"></script>*@
        <script type="text/javascript" src="~/lib/jplist-es6/js/jplist.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
                asp-fallback-src="~/lib/moment.js/moment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"
                asp-fallback-src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/js/all.min.js"
                asp-fallback-src="~/lib/font-awesome/js/all.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        //Render the token in a property readable from your client JavaScript
        var antiforgeryToken = @Json.Serialize(antiforgeryRequestToken);
    </script>
    @await RenderSectionAsync("Scripts", required: false).ConfigureAwait(false)
</body>
</html>
